<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{
    <ul>
        @foreach (var meeting in ViewBag.events)
        {
        <li>(@meeting.Id) @meeting.Name: @meeting.Description </li>
        }
    </ul>
}

<partial name="/Views/Shared/_LinkListPartial.cshtml" />

