@*@using CodingEvents.Models
@model List<EventTag>*@

@model List<CodingEvents.Models.EventTag>

<h1>Coding Event Tags</h1>

<table class="table">
    <tr>
        <th>Tag Name</th>
    </tr>
    @foreach (var tagObj in Model)
    {
        <tr>
            <td>@tagObj.Id</td>
            <td><a asp-controller="Tag" asp-action="Detail" asp-route-id="@tagObj.Id">@tagObj.Name</a></td>
        </tr>
    }
</table>